:root {
  --neutralwhite: rgba(255, 255, 255, 1);
  --neutralblack3-4f4f4f: rgba(40, 40, 40, 1);
  --neutralgray-bdbdbd: rgba(189, 189, 189, 1);
  --white: rgba(255, 255, 255, 1);
  --primaryprimary: rgba(37, 99, 235, 1);
  --neutralgray-f9f9f9: rgba(249, 249, 249, 1);
  --primarytint-1: rgba(233, 239, 253, 1);
  --neutralgray-404040: rgba(64, 64, 64, 1);
  --neutralblack1-0c0c0c: rgba(12, 12, 12, 1);
  --web-h3-font-family: "Poppins", Helvetica;
  --web-h3-font-weight: 700;
  --web-h3-font-size: 32px;
  --web-h3-letter-spacing: 0px;
  --web-h3-line-height: normal;
  --web-h3-font-style: normal;
  --web-caption-LG-font-family: "Poppins", Helvetica;
  --web-caption-LG-font-weight: 400;
  --web-caption-LG-font-size: 14px;
  --web-caption-LG-letter-spacing: 0px;
  --web-caption-LG-line-height: normal;
  --web-caption-LG-font-style: normal;
  --web-body-font-family: "Poppins", Helvetica;
  --web-body-font-weight: 400;
  --web-body-font-size: 14px;
  --web-body-letter-spacing: 0px;
  --web-body-line-height: normal;
  --web-body-font-style: normal;
  --web-button-LG-font-family: "Poppins", Helvetica;
  --web-button-LG-font-weight: 400;
  --web-button-LG-font-size: 16px;
  --web-button-LG-letter-spacing: 0px;
  --web-button-LG-line-height: normal;
  --web-button-LG-font-style: normal;
  --web-body-normal-font-family: "Poppins", Helvetica;
  --web-body-normal-font-weight: 400;
  --web-body-normal-font-size: 16px;
  --web-body-normal-letter-spacing: 0px;
  --web-body-normal-line-height: normal;
  --web-body-normal-font-style: normal;
  --web-body-LG-font-family: "Poppins", Helvetica;
  --web-body-LG-font-weight: 400;
  --web-body-LG-font-size: 20px;
  --web-body-LG-letter-spacing: 0px;
  --web-body-LG-line-height: normal;
  --web-body-LG-font-style: normal;
}
