.edu-ai-final {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 5913px;
  position: relative;
}

.edu-ai-final .group {
  position: absolute;
  top: 5553px;
  left: 0;
  width: 1442px;
  height: 360px;
}

.edu-ai-final .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 360px;
  background-color: #0039b4;
}

.edu-ai-final .div {
  position: absolute;
  top: 65px;
  left: 840px;
  width: 160px;
  height: 152px;
  display: flex;
  flex-direction: column;
}

.edu-ai-final .text-wrapper {
  width: 76px;
  height: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .text-wrapper-2 {
  width: 150px;
  height: 23px;
  margin-top: 15px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .text-wrapper-3 {
  width: 123px;
  height: 23px;
  margin-top: 5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .text-wrapper-4 {
  width: 55px;
  height: 23px;
  margin-top: 5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .text-wrapper-5 {
  width: 93px;
  height: 23px;
  margin-top: 5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .group-2 {
  position: absolute;
  top: 65px;
  left: 133px;
  width: 647px;
  height: 155px;
}

.edu-ai-final .text-wrapper-6 {
  position: absolute;
  top: 45px;
  left: 552px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .p {
  position: absolute;
  top: 59px;
  left: 0;
  width: 224px;
  font-family: var(--web-body-normal-font-family);
  font-weight: var(--web-body-normal-font-weight);
  color: var(--neutralwhite);
  font-size: var(--web-body-normal-font-size);
  letter-spacing: var(--web-body-normal-letter-spacing);
  line-height: var(--web-body-normal-line-height);
  font-style: var(--web-body-normal-font-style);
}

.edu-ai-final .text-wrapper-7 {
  position: absolute;
  top: 73px;
  left: 552px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .text-wrapper-8 {
  position: absolute;
  top: 101px;
  left: 552px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .text-wrapper-9 {
  position: absolute;
  top: 129px;
  left: 552px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 552px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .group-3 {
  position: absolute;
  top: 65px;
  left: 1062px;
  width: 238px;
  height: 146px;
}

.edu-ai-final .text-wrapper-11 {
  position: absolute;
  top: 45px;
  left: 1px;
  width: 233px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.edu-ai-final .text-wrapper-12 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .img {
  position: absolute;
  top: 114px;
  left: 45px;
  width: 32px;
  height: 32px;
}

.edu-ai-final .group-4 {
  position: absolute;
  top: 114px;
  left: 0;
  width: 32px;
  height: 32px;
}

.edu-ai-final .group-5 {
  position: absolute;
  top: 114px;
  left: 135px;
  width: 32px;
  height: 32px;
}

.edu-ai-final .group-6 {
  position: absolute;
  top: 114px;
  left: 90px;
  width: 32px;
  height: 32px;
}

.edu-ai-final .text-wrapper-13 {
  position: absolute;
  top: 56px;
  left: 133px;
  width: 232px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .group-wrapper {
  position: absolute;
  top: 3819px;
  left: 7px;
  height: 933px;
  display: flex;
  padding: 0 148px;
  align-items: flex-end;
  min-width: 1440px;
}

.edu-ai-final .group-7 {
  width: 1144px;
  height: 903px;
  position: relative;
}

.edu-ai-final .group-8 {
  position: absolute;
  top: 0;
  left: 681px;
  width: 463px;
  height: 564px;
}

.edu-ai-final .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 438px;
  height: 564px;
  background-color: #0039b4;
  border-radius: 250px 250px 20px 20px;
}

.edu-ai-final .rectangle-3 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 438px;
  height: 564px;
  border-radius: 250px 250px 20px 20px;
  border: 3px solid;
  border-color: #0039b4;
}

.edu-ai-final .untitled {
  position: absolute;
  top: 80px;
  left: 61px;
  width: 316px;
  height: 484px;
  object-fit: cover;
}

.edu-ai-final .div-wrapper {
  position: absolute;
  width: 1100px;
  height: 767px;
  top: 136px;
  left: 0;
  display: flex;
}

.edu-ai-final .group-9 {
  width: 1106px;
  height: 767px;
  display: flex;
  flex-direction: column;
}

.edu-ai-final .text-wrapper-14 {
  width: 498px;
  height: 62px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 44px;
  text-align: center;
  letter-spacing: -0.09px;
  line-height: 62px;
  white-space: nowrap;
}

.edu-ai-final .we-re-here-for-your {
  width: 644px;
  height: 175px;
  margin-top: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #505050;
  font-size: 20px;
  text-align: justify;
  letter-spacing: -0.04px;
  line-height: 35px;
}

.edu-ai-final .group-10 {
  width: 178px;
  height: 50px;
  margin-top: 11px;
  display: flex;
  background-color: #febc18;
  border-radius: 12px;
}

.edu-ai-final .group-11 {
  margin-top: 12px;
  width: 102px;
  margin-left: 39px;
  display: flex;
}

.edu-ai-final .text-wrapper-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 27px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .invest-in-your-child {
  margin-left: 89px;
  width: 1011px;
  height: 62px;
  margin-top: 387px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.10px;
  line-height: 62px;
  white-space: nowrap;
}

.edu-ai-final .group-12 {
  position: absolute;
  top: 3121px;
  left: -1px;
  height: 638px;
  display: flex;
  padding: 0 93px;
  justify-content: flex-end;
  align-items: center;
  min-width: 1440px;
}

.edu-ai-final .group-13 {
  display: flex;
  align-items: flex-start;
  min-width: 1199px;
}

.edu-ai-final .group-14 {
  width: 1199px;
  display: flex;
  gap: 113px;
}

.edu-ai-final .group-15 {
  width: 476px;
  height: 578px;
}

.edu-ai-final .group-16 {
  margin-top: 43px;
  width: 614px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edu-ai-final .best-educational-AI {
  margin-left: 2px;
  width: 608px;
  height: 124px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 44px;
  letter-spacing: -0.09px;
  line-height: 62px;
}

.edu-ai-final .span {
  color: #000000;
  letter-spacing: -0.04px;
}

.edu-ai-final .text-wrapper-16 {
  color: #0039b4;
  letter-spacing: -0.04px;
}

.edu-ai-final .text-wrapper-17 {
  color: #febc18;
  letter-spacing: -0.04px;
}

.edu-ai-final .our-platform-is {
  width: 509px;
  height: 136px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #666768;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 34px;
}

.edu-ai-final .group-17 {
  width: 181px;
  height: 50px;
  display: flex;
  background-color: #0039b4;
  border-radius: 12px;
}

.edu-ai-final .group-18 {
  margin-top: 12px;
  width: 105px;
  margin-left: 39px;
  display: flex;
}

.edu-ai-final .text-wrapper-18 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 27px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .group-19 {
  position: absolute;
  top: 2320px;
  left: 0;
  height: 741px;
  display: flex;
  padding: 0 128px;
  align-items: center;
  min-width: 1440px;
}

.edu-ai-final .group-20 {
  width: 1164px;
  height: 681px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.edu-ai-final .group-21 {
  margin-left: 255px;
  width: 677px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edu-ai-final .text-wrapper-19 {
  margin-left: 45px;
  width: 583px;
  height: 62px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 44px;
  text-align: center;
  letter-spacing: -0.09px;
  line-height: 62px;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-20 {
  width: 673px;
  height: 48px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #666768;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.03px;
  line-height: normal;
}

.edu-ai-final .group-22 {
  height: 506px;
  position: relative;
}

.edu-ai-final .group-23 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 390px;
  height: 243px;
}

.edu-ai-final .rectangle-4 {
  position: absolute;
  top: 0;
  left: 46px;
  width: 340px;
  height: 243px;
  background-color: #ffffff;
  border-radius: 7px;
}

.edu-ai-final .AI-powered {
  position: absolute;
  top: 77px;
  left: 0;
  width: 357px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .key-alt {
  position: absolute;
  top: 25px;
  left: 152px;
  width: 44px;
  height: 44px;
}

.edu-ai-final .text-wrapper-21 {
  position: absolute;
  top: 117px;
  left: 9px;
  width: 344px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #666768;
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.03px;
  line-height: normal;
}

.edu-ai-final .group-24 {
  position: absolute;
  top: 0;
  left: 444px;
  width: 353px;
  height: 243px;
}

.edu-ai-final .rectangle-5 {
  position: absolute;
  top: 0;
  left: 9px;
  width: 340px;
  height: 243px;
  background-color: #ffffff;
  border-radius: 7px;
}

.edu-ai-final .fun-coding-AI {
  position: absolute;
  top: 77px;
  left: 3px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .monitor-alt {
  position: absolute;
  top: 25px;
  left: 93px;
  width: 44px;
  height: 44px;
}

.edu-ai-final .text-wrapper-22 {
  position: absolute;
  top: 115px;
  left: 0;
  width: 280px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #666768;
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.03px;
  line-height: normal;
}

.edu-ai-final .group-25 {
  position: absolute;
  top: 5px;
  left: 777px;
  width: 345px;
  height: 243px;
}

.edu-ai-final .rectangle-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 243px;
  background-color: #ffffff;
  border-radius: 7px;
}

.edu-ai-final .text-wrapper-23 {
  position: absolute;
  top: 72px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .tabler-certificate {
  position: absolute;
  top: 25px;
  left: 149px;
  width: 44px;
  height: 44px;
}

.edu-ai-final .text-wrapper-24 {
  position: absolute;
  top: 117px;
  left: 0;
  width: 339px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #666768;
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.03px;
  line-height: normal;
}

.edu-ai-final .group-26 {
  position: absolute;
  top: 258px;
  left: 777px;
  width: 391px;
  height: 243px;
}

.edu-ai-final .rectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 243px;
  background-color: #ffffff;
  border-radius: 7px;
}

.edu-ai-final .text-wrapper-25 {
  position: absolute;
  top: 83px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .text-wrapper-26 {
  position: absolute;
  top: 122px;
  left: 1px;
  width: 340px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #666768;
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.03px;
  line-height: normal;
}

.edu-ai-final .group-27 {
  position: absolute;
  top: 258px;
  left: 444px;
  width: 535px;
  height: 243px;
}

.edu-ai-final .rectangle-8 {
  position: absolute;
  top: 0;
  left: 9px;
  width: 292px;
  height: 243px;
  background-color: #ffffff;
  border-radius: 7px;
}

.edu-ai-final .text-wrapper-27 {
  position: absolute;
  top: 83px;
  left: 3px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .badge-check {
  position: absolute;
  top: 30px;
  left: 87px;
  width: 44px;
  height: 44px;
}

.edu-ai-final .badge-check-2 {
  position: absolute;
  top: 39px;
  left: 487px;
  width: 44px;
  height: 44px;
}

.edu-ai-final .text-wrapper-28 {
  position: absolute;
  top: 122px;
  left: 0;
  width: 289px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #666768;
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.03px;
  line-height: normal;
}

.edu-ai-final .group-28 {
  position: absolute;
  top: 263px;
  left: 9px;
  width: 383px;
  height: 243px;
}

.edu-ai-final .rectangle-9 {
  position: absolute;
  top: 0;
  left: 39px;
  width: 340px;
  height: 243px;
  background-color: #ffffff;
  border-radius: 7px;
}

.edu-ai-final .user {
  position: absolute;
  top: 25px;
  left: 138px;
  width: 44px;
  height: 44px;
}

.edu-ai-final .text-wrapper-29 {
  position: absolute;
  top: 77px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.04px;
  line-height: normal;
}

.edu-ai-final .text-wrapper-30 {
  position: absolute;
  top: 123px;
  left: 0;
  width: 333px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #666768;
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.03px;
  line-height: normal;
}

.edu-ai-final .text-wrapper-31 {
  top: 22px;
  left: 135px;
  position: absolute;
  width: 232px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .rectangle-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1025px;
  background-color: #0039b4;
}

.edu-ai-final .mask-group {
  position: absolute;
  top: 1411px;
  left: 106px;
  width: 334px;
  height: 290px;
}

.edu-ai-final .mask-group-2 {
  position: absolute;
  top: 1411px;
  left: 546px;
  width: 334px;
  height: 290px;
}

.edu-ai-final .mask-group-3 {
  position: absolute;
  top: 1411px;
  left: 987px;
  width: 334px;
  height: 290px;
}

.edu-ai-final .welcome-to-edu-ai {
  position: absolute;
  top: 1105px;
  left: 437px;
  width: 734px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 63px;
  letter-spacing: -1.26px;
  line-height: normal;
}

.edu-ai-final .text-wrapper-32 {
  color: #000000;
  letter-spacing: -0.79px;
}

.edu-ai-final .text-wrapper-33 {
  color: #febc18;
  letter-spacing: -0.79px;
}

.edu-ai-final .text-wrapper-34 {
  position: absolute;
  top: 1764px;
  left: 102px;
  width: 715px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #043ab3;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-35 {
  position: absolute;
  top: 1874px;
  left: 106px;
  width: 378px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: normal;
}

.edu-ai-final .text-wrapper-36 {
  position: absolute;
  top: 1874px;
  left: 531px;
  width: 395px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: normal;
}

.edu-ai-final .frame {
  display: flex;
  width: 439px;
  height: 102px;
  padding: 10px;
  top: 1866px;
  left: 972px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
}

.edu-ai-final .text-wrapper-37 {
  position: relative;
  width: 453px;
  margin-top: -3.50px;
  margin-bottom: -1.50px;
  margin-left: -17.00px;
  margin-right: -17.00px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: normal;
}

.edu-ai-final .AI-coding-education {
  position: absolute;
  top: 1764px;
  left: 538px;
  width: 715px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #043ab3;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-38 {
  position: absolute;
  top: 1764px;
  left: 976px;
  width: 423px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #043ab3;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .we-offer-an-engaging {
  position: absolute;
  top: 1261px;
  left: 105px;
  width: 1239px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.80px;
  line-height: normal;
}

.edu-ai-final .text-wrapper-39 {
  color: #000000;
  letter-spacing: -0.32px;
}

.edu-ai-final .text-wrapper-40 {
  color: #fda909;
  letter-spacing: -0.32px;
}

.edu-ai-final .frame-2 {
  display: inline-flex;
  padding: 23px 44px;
  top: 5339px;
  left: 547px;
  background-color: #febc18;
  border-radius: 62px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
}

.edu-ai-final .text-wrapper-41 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.96px;
  line-height: normal;
}

.edu-ai-final .teen-girl-with-lot {
  top: 1600px;
  left: 4467px;
  width: 1151px;
  height: 767px;
  position: absolute;
  object-fit: cover;
}

.edu-ai-final .teen-girl-with-lot-2 {
  top: 4801px;
  left: 336px;
  width: 778px;
  height: 489px;
  position: absolute;
  object-fit: cover;
}

.edu-ai-final .light {
  left: 0;
  width: 802px;
  height: 881px;
  position: absolute;
  top: 0;
}

.edu-ai-final .light-2 {
  left: 832px;
  width: 608px;
  height: 1437px;
  position: absolute;
  top: 0;
}

.edu-ai-final .text-wrapper-42 {
  position: absolute;
  top: 152px;
  left: 390px;
  width: 52px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .text-wrapper-43 {
  top: 131px;
  left: 118px;
  position: absolute;
  width: 232px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-44 {
  position: absolute;
  top: 152px;
  left: 534px;
  width: 82px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-45 {
  position: absolute;
  top: 152px;
  left: 708px;
  width: 82px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .mask-group-4 {
  position: absolute;
  top: 257px;
  left: 790px;
  width: 551px;
  height: 405px;
}

.edu-ai-final .your-modern-online {
  position: absolute;
  top: 307px;
  left: 118px;
  width: 734px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 63px;
  letter-spacing: -1.26px;
  line-height: normal;
}

.edu-ai-final .text-wrapper-46 {
  color: #ffffff;
  letter-spacing: -0.79px;
}

.edu-ai-final .text-wrapper-47 {
  position: absolute;
  top: 753px;
  left: 116px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: normal;
}

.edu-ai-final .your-child-s-AI {
  position: absolute;
  top: 486px;
  left: 116px;
  width: 592px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 33px;
  letter-spacing: 0;
  line-height: normal;
}

.edu-ai-final .text-wrapper-48 {
  color: #ffffff;
}

.edu-ai-final .text-wrapper-49 {
  color: #febc18;
}

.edu-ai-final .text-wrapper-50 {
  position: absolute;
  top: 846px;
  left: 116px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-51 {
  position: absolute;
  top: 846px;
  left: 353px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0039b4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-52 {
  position: absolute;
  top: 846px;
  left: 534px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0039b4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .rectangle-11 {
  position: absolute;
  top: 635px;
  left: 118px;
  width: 260px;
  height: 68px;
}

.edu-ai-final .rectangle-12 {
  position: absolute;
  top: 635px;
  left: 403px;
  width: 260px;
  height: 68px;
  background-color: #ffffff;
  border-radius: 30px 30px 0px 30px;
}

.edu-ai-final .rectangle-13 {
  position: absolute;
  top: 149px;
  left: 1179px;
  width: 151px;
  height: 58px;
  background-color: #f6aa37;
  border-radius: 30px 30px 0px 30px;
}

.edu-ai-final .text-wrapper-53 {
  position: absolute;
  top: 655px;
  left: 182px;
  width: 133px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-54 {
  position: absolute;
  top: 655px;
  left: 467px;
  width: 209px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .text-wrapper-55 {
  position: absolute;
  top: 166px;
  left: 1228px;
  width: 113px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: normal;
  white-space: nowrap;
}

.edu-ai-final .ellipse {
  top: 839px;
  left: 790px;
  position: absolute;
  width: 39px;
  height: 39px;
  background-color: #fda909;
  border-radius: 19.5px;
}

.edu-ai-final .ellipse-2 {
  top: 257px;
  left: 149px;
  position: absolute;
  width: 39px;
  height: 39px;
  background-color: #fda909;
  border-radius: 19.5px;
}

.edu-ai-final .ellipse-3 {
  top: 151px;
  left: 1103px;
  position: absolute;
  width: 39px;
  height: 39px;
  background-color: #fda909;
  border-radius: 19.5px;
}

.edu-ai-final .ellipse-4 {
  top: 839px;
  left: 1047px;
  position: absolute;
  width: 39px;
  height: 39px;
  background-color: #fda909;
  border-radius: 19.5px;
}

.edu-ai-final .ellipse-5 {
  top: 839px;
  left: 1285px;
  position: absolute;
  width: 39px;
  height: 39px;
  background-color: #fda909;
  border-radius: 19.5px;
}

.edu-ai-final .mask-group-5 {
  position: absolute;
  top: 690px;
  left: 1093px;
  width: 181px;
  height: 335px;
}
